@font-face {
  font-family: 'Metropolis Black';
  src: url('assets/fonts/Metropolis-Black.woff2') format('woff2'),
       url('assets/fonts/Metropolis-Black.woff') format('woff'),
       url('assets/fonts/Metropolis-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Metropolis Bold';
  src: url('assets/fonts/Metropolis-Bold.woff2') format('woff2'),
       url('assets/fonts/Metropolis-Bold.woff') format('woff'),
       url('assets/fonts/Metropolis-Bold.ttf') format('truetype');
}

:root {
  --clr-main: #fe4400;
  --clr-mainShade: #d03800;
  --clr-accent: #36357E;
  --clr-circles: #f73900;
  --clr-decor: #f97249;

  --ff-primary: 'Montserrat', sans-serif;
  --ff-headerBold: 'Metropolis Bold', sans-serif; 
  --ff-headerBlack: 'Metropolis Black', sans-serif; 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: var(--ff-headerBlack);
}

h2 {
  font-family: var(--ff-headerBold);
}

p {
  font-family: var(--ff-primary);
}

