@font-face {
  font-family: 'Metropolis Black';
  src: url('assets/fonts/Metropolis-Black.woff2') format('woff2'),
       url('assets/fonts/Metropolis-Black.woff') format('woff'),
       url('assets/fonts/Metropolis-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Metropolis Bold';
  src: url('assets/fonts/Metropolis-Bold.woff2') format('woff2'),
       url('assets/fonts/Metropolis-Bold.woff') format('woff'),
       url('assets/fonts/Metropolis-Bold.ttf') format('truetype');
}

:root {
  --clr-main: #fe4400;
  --clr-mainShade: #d03800;
  --clr-accent: #36357E;
  --clr-circles: #f73900;
  --clr-decor: #f97249;

  --ff-primary: 'Montserrat', sans-serif;
  --ff-headerBold: 'Metropolis Bold', sans-serif; 
  --ff-headerBlack: 'Metropolis Black', sans-serif; 
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.site {
  overflow-x: hidden;
  position: relative;
  width: 100%;
  
}


h1 {
  font-family: var(--ff-headerBlack);
  font-size: clamp(2.5rem, 25vw, 6rem);
}

h2 {
  font-family: var(--ff-headerBold);
  font-size: clamp(2.5rem, 20vw, 4.5rem);
}

p, a {
  font-family: var(--ff-primary);
}

p {
  font-size: clamp(1rem, 10vw, 2rem);
}

/* HEADER */

header {
  background-color: rgba(208, 56, 0, 0);
  -webkit-transition: background-color 250ms linear;
  -ms-transition: background-color 250ms linear;
  transition: background-color 250ms linear;

  height: 4.2rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 999;
}

nav {
  width: 20vw;
  min-width: 30rem;
  display: flex;
  justify-content: space-evenly;
  align-self: center;
}

nav a {
  color: #ffffff;
  font-size: 1rem;
  text-decoration: none;
  padding: 0.3rem 1rem;
  border-radius: 6%;
}

nav a:hover {
  background-color: var(--clr-accent);
}

header svg {
  align-self: center;
  margin-left: 2rem;
  fill: var(--clr-mainShade);
  -webkit-transition: fill 250ms linear;
  -ms-transition: fill 250ms linear;
  transition: fill 250ms linear;
}

section {
  height: 100vh;
}

.menuIcon {
  display: none;
}

.menuBlock {
  visibility: hidden;
  opacity: 0;
}

.changeColor {
  background-color: rgba(208, 56, 0, 1);
  -webkit-transition: background-color 250ms linear;
  -ms-transition: background-color 250ms linear;
  transition: background-color 250ms linear;
}

.changeColor svg {
  fill: #ffffff;
  -webkit-transition: fill 250ms linear;
  -ms-transition: fill 250ms linear;
  transition: fill 250ms linear;
}

/* HERO */

.hero svg {
  width: 1300px;
  float: right;
  margin-top: -550px;
  margin-right: -400px;
  z-index: 0;
}

.hero div {
  position: absolute;
  min-width: 50rem;
  padding: 8rem;
  display:flex;
  flex-direction: column;
}

.hero h1 {
  color: var(--clr-accent);
}

.hero h2 {
  line-height: 1.8rem;
  color: var(--clr-main);
}

.narrow {
  width: clamp(40rem, 33vw, 42rem);
}

.narrow:first-of-type {
  margin-top: 3.5rem;
}

.narrow:last-of-type {
  margin-top: 1rem;
}

.button {
  margin-top: 2rem;
  width: 17rem;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  font-size: 2rem;
  font-family: var(--ff-headerBold);
  padding: 1.5rem;
  background-color: var(--clr-mainShade);
  border-top-right-radius: 10rem;
  border-bottom-right-radius: 10rem;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
}

.button:hover {
  background-color: var(--clr-accent);
  color: #ffffff;
}

.hero img {
  width: 50rem;
  position: absolute;
  right: 16rem;
  top: 9rem;
}

/* SECTION 2 */

.section2 svg {
  float: left;
  margin-left: -450px;
  margin-top: -200px;
  z-index: 0;
  width: 1800px;
}

/* FOOTER */

footer {
  background-color: #303033;
  width: 100vw;
  height: 17rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  bottom: 0;
}

footer div {
  display:flex;
  align-items: center;
  justify-content: center;
}

.left {
  height: 80%;
  width: 40vw;
  max-width: 32rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.left svg {
  max-width: 20rem;
  fill: #ffffff;
}

.socials svg {
  fill: #ffffff;
  width: 3rem;
  padding: 0.5rem;
}

.socials svg:hover {
  fill: var(--clr-decor);
}

.socials {
  padding-top: 1.2rem;
}

.bar {
  background-color: #ffffff;
  width: 0.1rem;
  height: 58%;
}

.right {
  width: 40vw;
  max-width: 32rem;
  align-self: center;
}

.right h2{
  color: #ffffff;
  font-size: 2.5rem;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 830px) {

  html{
    font-size: 8px;
  }

  /* HEADER */

  header {
    height: 4.2rem;
  }

  nav {
    display: none;
  }
  
  nav a {
    font-size: 12px;
  }

  header svg {
    height: 3rem;
    align-self: center;
    margin-left: -1rem;
    fill: var(--clr-mainShade)
  }

  .menuIcon {
    margin-right: 1.5rem;
    display: inline;
  }

  .menuBlock nav {
    display: flex;
    width: 100%;
  }

  .menuBlock {
    opacity: 0;
    transition:opacity 0.2s linear;
    background-color: var(--clr-mainShade);
    position: fixed;
    height: 4.2rem;
    margin-top: 4.2rem;
    width: 100%;
    z-index: 998;
    display: flex;
  }

  /* HERO */
  .hero {
    display: flex;
    justify-content: center;
  }

  .hero div{
    text-align: center;
    min-width: none;
    width: 95vw;
    max-width: 30rem;
  }

  .hero svg {
    width: 800px;
    float: right;
    margin-top: -155px;
    margin-right: -500px;
    transform: rotate(90deg);
    z-index: 0;
  }

  .hero h1 {
    font-size: 4.3rem;
  }

  .hero h2 {
    font-size: 3rem;
  }

  .hero p, h1, h2 {
    background-color: rgba(255, 255, 255, 0.1);
    margin-top: 0.3rem;
    border-radius: 0.6rem;
    padding: 0.3rem;
  }


  .narrow {
    width: 100%;
  }

  .button {
    margin-top: 2rem;
    width: 17rem;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-size: 2rem;
    font-family: var(--ff-headerBold);
    padding: 1.5rem;
    background-color: var(--clr-mainShade);
    border-radius: 10rem;
    align-self: center;
  }

  .hero img {
    display: inline-block;
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    margin-top: 33.5rem;
  }

  /* FOOTER */

  footer {
    height: 26rem;
    max-width: 100%;
    flex-direction: column;
  }

  .bar {
    width: 58%;
    height: 0.1rem;
  }

  .left {
    height: 10rem;
    width: 40vw;
  }
  
  .left svg {
    max-width: 18rem;
  }
  
  .socials {
    padding-top: 0.1rem;
  }

  .socials svg {
    width: 4rem;
    margin: 0.2rem;
  }

  .right {
    height: 10rem;
  }
  
  .right h2{
    background: none;
    font-size: 2.5rem;
    text-align: center;
  }
}

@media screen and (min-width: 560px) and (max-width: 830px) {
  html{
    font-size: 10px;
  }

  header svg {
    margin-left: 1rem;
  }
}



@media screen and (min-width: 830px) and (max-width: 980px) {
  .hero img {
    display: none;
  }
}

@media screen and (max-width: 1106px) {
  .hero img {
    width: 40rem;
    position: absolute;
    right: 10rem;
    top: 14rem;
  }
}

@media screen and (min-width: 830px) and (max-width: 1300px) {
  html{
   font-size: 10px;
  }
  nav a {
    font-size: 13px;
  }
}

@media screen and (min-width: 1300px) {
  html{
   font-size: 11.5px;
  }
}

@media screen and (min-width: 1600px) {
  html{
   font-size: 13px;
  }
  nav a {
    font-size: 15px;
  }
}

@media screen and (min-width: 1800px) {
  html{
   font-size: 14px;
  }
}

@media screen and (max-width: 1380px) {
  .hero svg {
    width: 1000px;
  }
}

@media screen and (max-width: 1090px) {
  .hero svg {
    width: 1000px;
  }
}